

<nav class="navbar navbar-default">
			<div class="head-container">
			  <div class="container">
				<ul class="navbar-nav navbar-right nav nav-pills ">
					<li role="presentation" ><a href="#/home">Home</a></li>
					<li role="presentation" ><a href="#/about">About</a></li>
					<li role="presentation" ><a href="#/contact">Contact</a></li>
					
				</ul>
		   	</div>
		   	</div>
</nav>
<div class="container700">
<p>
    <a href="#/weatherIndex">Back to Search</a>
</p>

Current Weather for <strong>{{ city | uppercase}}</strong>

<hr />
    <div class="row" ng-if="isAvailable(weatherResult_new)">
        <div class="col-md-12">
           <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{weatherResult_new.current_observation.local_time_rfc822}}</h3>
                 </div>
                <div class="panel-body">
                  <div class="media">
                    <div class="media-left" style="width:50px; font-size: 0.6em;"><img src={{weatherResult_new.current_observation.icon_url}}></div>
                    <div class="media-body">Current temperature: {{weatherResult_new.current_observation.temperature_string}} {{weatherResult_new.current_observation.weather}} 
                    <p style="font-size: 0.8em;">Wind: {{weatherResult_new.current_observation.wind_string}} </p></div>
                    </div>
                </div>
            </div>
            <a href="{{weatherResult_new.current_observation.forecast_url}}" target="_blank" class="btn btn-primary" style="margin-left:20px;margin-top:10px">Get Forecast</a>
             
  
    </div>
    <div class="alert alert-danger" ng-if="!isAvailable(weatherResult_new)">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
         Please enter the city name with state e.g Miami, FL / Miami, Florida!
    </div>
 
</div>
</div>
   
